<nav>
    <% let name = 'Khalid Hasan Tuhin' %>
    <div class="site-title">
        <p><%= name %></p>
        <a href="/"><h1>Blog Ninja</h1></a>
        <p>A net ninja site</p>
    </div>

    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
        <li><a href="/db">Show Database</a></li>
    </ul>
</nav>